body { font-family:'Open Sans'; font-weight:400; color:#222; position:relative; }

hr { border-color:#ddd; }
h1 { font-family:'Raleway'; }
h1, h2, h3, h4, h5, h6 { color:#000; font-weight:300; margin-bottom:20px; line-height:1.3; }
h4, h5, h6 { font-weight:bold; }
h6 { text-transform:uppercase; color:#25aae1; font-size:0.8em; }
pre { color:#000; }
p { margin-bottom:20px; }
	p.lead { font-size:1.4em; }

table.reference { width:100%; margin-bottom:2em; }
	table.reference tr.flag { background-color:#eee; color:#fd9632; }
		
	table.reference tr th, table.reference tr td { padding:4px; border:1px solid #ccc; vertical-align:top; }
		table.reference tr.flag th { border-color:#ccc; }

.page-not-found { min-height:300px; }

label { font-weight:normal; margin:1em 0 1em 0; }
.input-block { position:relative; left:-4px; }

ul.clean { padding-left:0; }
	ul.clean li { list-style-type:none; padding-bottom:0.4em; }

h1.heading { font-size:30px; }
h2.subheading, h3.subheading { margin-bottom:2em; }
	.subheading strong { font-weight:300; font-size:0.6em; text-transform:uppercase; color:#25aae1; }

h1.main-heading { margin-top:0; padding-top:0; }

a.download { font-weight:bold; text-decoration:none; }

	.input-group > .input-group-addon { background-color:#fff; padding:0 0 0 0; }
	.input-group > .input-group-addon > input[type=submit] { background:transparent; border:none; color:#25aae1; }
		.input-group.input-group-large > .input-group-addon > input[type=submit] { padding:1em; }
		.input-group > .input-group-addon > input[type=submit]:hover { color:#258ac1; }

	section.blue input { border:2px solid #fff; box-shadow:none !important; background-color:transparent; }
		section.blue input:focus { border:2px solid #fff; }
		section.blue .input-group > .input-group-addon { border:none; }

	footer .footer-nav input { border:2px solid #fff; box-shadow:none !important; background-color:transparent; }
		footer .footer-nav input:focus { border:2px solid #fff; }
		footer .footer-nav .input-group > .input-group-addon { border:none; }

	input[type=email] { color:#000; }
	section.blue input[type=email] { color:#fff; }
	footer .footer-nav input[type=email] { color:#fff; }

	section.blue ::-webkit-input-placeholder { color:#a5daff; }
	section.blue  :-moz-placeholder { color:#a5daff; }
	section.blue  ::-moz-placeholder { color:#a5daff; }
	section.blue  :-ms-input-placeholder { color:#a5daff; }

	footer .footer-nav ::-webkit-input-placeholder { color:#a5daff; }
	footer .footer-nav  :-moz-placeholder { color:#a5daff; }
	footer .footer-nav  ::-moz-placeholder { color:#a5daff; }
	footer .footer-nav  :-ms-input-placeholder { color:#a5daff; }

.btn { margin-bottom:1em; }

.btn-default { border-color:#25aae1; color:#fff; background-color:#25aae1; }
	.btn-default:hover { border-color:#258ac1; color:#fff; background-color:#258ac1; }

	section.blue .btn { border-color:#fff; color:#25aae1; background-color:#fff; }
		section.blue .btn-default:hover { color:#258ac1; }


.btn-primary { border-color:#ff2e2d; color:#fff; background-color:#ff2e2d; }
	.btn-primary:hover { border-color:#df1e1d; color:#fff; background-color:#df1e1d; }

.btn-disabled { border-color:#eee; background-color:#eee; color:#bbb; }
	.btn-disabled:hover { color:#bbb; }
	.btn-disabled:active { box-shadow:none; }

.reserved { color:#5e4ed7; }
.argument { color:#308495; }
.method { color:#308495; }
.comment { color:#05a74f; }
.string { color:#ff2e2d; }
.literal { color:#0000ff; }
.property { color:#344; font-weight:bold; }
.type { color:#25aae1; }
.separator { color:#006a91; }

/* color:#fd9632; color:#28527c; color:#18525c; color:#496fb1; */

/*---*/

.site-nav { font-size:0.8em; display:inline-block; float:right; }
	.site-nav ul { margin:0; padding:4px 0; }
		.site-nav ul li { margin:0; margin:0; list-style-type:none; display:inline-block; border-right:1px solid #ccc; }
			.site-nav ul li a { color:#25aae1; padding:0px 8px 0px 8px; text-decoration:none; display:block; }
				.site-nav ul li:last-child { border-right:none; }
					.site-nav ul li:last-child a { padding-right:0; }

				.site-nav ul li a:hover { color:#258ac1; }
				.site-nav ul li.active a { color:#000; font-weight:bold; }

/*---*/

header { padding-top:3em; padding-bottom:2em; }

#logo { width:225px; height:50px; position:relative; top:-8px; left:8px; }

.navbar-header { z-index:100; position:relative; }

.navbar-default { border:none; background-color:transparent; z-index:1; position:relative; }
	.navbar-default .navbar-collapse, .navbar-default .navbar-form { border:none; }
	.navbar-default .container-fluid { padding:0; }
.navbar-brand { padding:0; }
.navbar-default .navbar-toggle { background-color:transparent; border-color:transparent; }
	.navbar-default .navbar-toggle:hover { background-color:transparent; border-color:transparent; }
	.navbar-default .navbar-toggle .icon-bar { background-color:#333; }
	.navbar-default .navbar-toggle.collapsed .icon-bar { background-color:#bbb; }
		.navbar-default .navbar-toggle:hover .icon-bar { background-color:#333; }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus { background-color:transparent; color:#000; font-weight:bold; }

#nav-links { position:relative; top:25px; font-size:1.2em; }
	#nav-links li:last-child a { padding-right:0; }

.subnav-open { padding:10px; margin-bottom:25px; text-align:center; border-radius:4px; border:1px solid #25aae1; color:#25aae1; display:none; }
	.subnav-open:hover { color:#fff; background-color:#25aae1; text-decoration:none; }

.subnav { margin:0 0 1.3em 0; font-size:1.8em; display:none; }
.subnav .nav > li > a { color:#777; margin-top:10px; padding:0px 15px; border-left:5px solid transparent; }
.subnav .nav > li > a:hover { color:#333; background-color:transparent; }
.subnav .nav > li.active > a { color:#000; border-color:#25aae1; font-weight:bold; }
	.subnav .nav > li.tier > a { margin-top:0px; margin-left:20px; padding-left:10px; }

	.subnav h4 { margin:0.5em 0; }

.subnav.affix { top:25px; margin-top:0; }
.subnav.affix-bottom { position:absolute; margin-top:0; }

@media (min-width:768px) {
	#logo { top:-16px; }
	#nav-links { top:0px; font-size:inherit; }
	.subnav { font-size:1.0em; margin:1.3em 0; display:block; }
	.subnav-open { display:none !important; }
}

/* --- */

section.blue { padding:20px 0 20px; background:#25aae1; color:#fff; }
	section.blue.chop { padding-bottom:0; }

	section.blue.thinker { background:#25aae1; }
	section.blue h1, section.blue h2, section.blue h3, section.blue h4, section.blue h5, section.blue h6 { color:#fff; }
	section.blue p { color:#def; } 
	section.blue h6 { color:#156aa1; }

	section.blue a.download { color:#fff; }
	section.blue h1.heading a { font-size:0.6em; position:relative; top:-5px; font-weight:bold; color:#a5daff; text-decoration:none; display:inline-block; border-bottom:3px solid #a5daff; }
		section.blue h1.heading a:hover { border-color:#fff; color:#fff; }

section.white { padding:20px 0; }
	section.white.short { padding:0 0 20px 0; }
	section.white.pull { position:relative; z-index:2; }

section.ribbon { text-align:center; margin-top:0.5em; }

section.news { padding:1em 0; border-bottom:1px solid #ddd; }
	.news strong.category { color:#25aae1; font-weight:bold; text-transform:uppercase; font-size:0.8em; margin-right:1em; }

div.portal .glyphicon { float:right; margin-right:15px; color:#25aae1; }

.bg-pad { padding:60px 0 0 0; }

.continue { text-align:right; margin:1em 0 1em 0; }

.documentation { margin:2em 0 0 0; }
	.documentation .btn { position:relative; left:-4px; }

.callout { font-size:0.9em; margin-top:0em; }
.github { padding:10px 0 0 0; }
	.github .btn { position:relative; left:-4px; }

.ornament { text-align:center; margin-top:6em; }
	.ornament a { color:#25aae1; }
		.ornament a:hover { text-decoration:none; }

		.ornament.disabled a { color:#ddd; }
		.ornament.disabled a:hover { color:#ddd; }

		.ornament a .glyphicon { font-size:6em; text-align:center; }

.downloads .btn { position:relative; left:-4px; }
.code .btn { position:relative; left:-4px; }
.community .btn { position:relative; left:-4px; }
.prompt { text-align:center; margin-bottom:4em; }
.snippet { margin-top:2em; }

ul.contributors { padding-left:1.2em; }
	ul.contributors li {  }

.prompt-section { display:none; }
.prompt-dismiss:hover { text-decoration:none; }

main a h2 { margin-top:2em; }

.pages { padding-top:2em; }
	.pages .next { float:right; }

.code .links { padding-top:5em; }

.code-sample-header { position:relative; text-align:center; left:-4px; background-color:#25aae1; border:1px solid #258ac1; border-top:5px solid #258ac1; padding:5px 15px; color:#fff; border-top-right-radius:3px; border-top-left-radius:3px; }
	.code-sample-header .extension { opacity:0.8; }

.code-sample { position:relative; left:-4px; border:1px solid #bbb; background:#fff; border-top:none; padding:15px; overflow-x:scroll; border-bottom-right-radius:3px; border-bottom-left-radius:3px; }
	.code-sample pre { border:none !important; background:transparent !important; word-wrap:normal; margin:0; padding:0; }
	.code-sample-header.code-sample-header-inline, main .code-sample-header { left:-5px; }
	.code-sample.code-sample-inline, main .code-sample { margin-bottom:2em; left:-5px; }

	section.blue .code-sample-header { margin-top:2em; }
	section.blue .code-sample { height:202px; overflow:hidden; border-left-color:#258ac1; border-right-color:#258ac1; border-bottom-color:#ddd; border-bottom-right-radius:0; border-bottom-left-radius:0; }

@media screen and (min-width:768px) {
	section.blue { min-height:360px; }
		section.blue.thinker { background:#25aae1 url(../img/bg-thinker.png) center bottom no-repeat; }

		section.pull { margin-bottom:-100px; }
			section.pull .code-sample { border-bottom-color:#258ac1 !important; }

}

@media screen and (min-width:992px) {
	.code-sample-header { left:-16px; }
	.code-sample { left:-16px; }
}

@media screen and (min-width:768px) and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (min-width:768px) and (-o-min-device-pixel-ratio: 3/2),
    screen and (min-width:768px) and (min--moz-device-pixel-ratio: 1.5),
    screen and (min-width:768px) and (min-device-pixel-ratio: 1.5) {

	section.blue.thinker { background-image:url(../img/bg-thinker@2x.png); background-size:1020px; }	
}

/* --- */

footer { position:relative; z-index:1; margin-top:3em; padding-top:3em; padding-bottom:3em; background:#25aae1 url(../img/bg-footer.png?v=0) center bottom no-repeat; color:#def; }
	footer a { color:#fff; text-decoration:underline; }
	footer a:hover { color:#fff; }

	footer h6 { margin-bottom:0.5em; color:#156aa1; }

#footer-logo { position:relative; left:-26px; top:-3px; display:block; margin-bottom:1.5em; }

.footer-nav { font-size:1.2em; }
	.footer-nav ul { margin:0; padding:0; }
		.footer-nav ul li { margin:0; padding:0 0 1em 0; list-style-type:none; display:block; }
			.footer-nav ul li a { color:#def; text-decoration:none; display:block; }
				.footer-nav ul li.active a { color:#fff; font-weight:bold; }
				.footer-nav ul li a:hover { color:#fff; }

				.footer-nav .announcement { margin-bottom:1em; }

.copyright { margin-top:3em; color:#156aa1; font-size:0.8em; }
	.copyright a { color:#156aa1; }
		.copyright a:hover { color:#055a91; }

.to-top { text-align:right; }
	.to-top .link-to-top { position:relative; z-index:3; }
	.to-top .link-to-top:hover { text-decoration:none; }

@media (min-width:768px) {
	#footer-logo { margin-bottom:0.5em; }

	.footer-nav { font-size:1.0em; }
		.footer-nav ul li { padding:0 0 0 0; }
}

@media screen and (min-width:768px) and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (min-width:768px) and (-o-min-device-pixel-ratio: 3/2),
    screen and (min-width:768px) and (min--moz-device-pixel-ratio: 1.5),
    screen and (min-width:768px) and (min-device-pixel-ratio: 1.5) {

	footer { background-image:url(../img/bg-footer@2x.png); background-size:1500px; }	
}
